body {
    background: rgba(255, 200, 100, .5);
    color: #0af;
}

body > header > h3 {
    background: #fff;
    color: #0f0;
}

h3 {
    color: #000;
    margin-top:40px;
}

body h3 {
    color: #f00;
    margin-top:10px;
    padding:30px;
}

h1 {
   float:left;
}

button {
    width: 90px;
    height:30px;
}